<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gaming Laptops</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background-image: url('https://wallpapercave.com/wp/wp6055770.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">{{ info.name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="../">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
          </li>
          <a class="nav-link" href="/about">about</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'mainpag' %}">buy pohne</a> <!-- Set the href attribute to your home page URL -->
            
          </li>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <h1 class="mt-5 mb-3">{{ info.name }}</h1>
    <div class="row">
      {% for single_product in product %}
      <div class="col-md-4">
        <div class="card">
          <img src="{{ single_product.image.url }}" class="card-img-top" alt="single_product">
          <div class="card-body">
            <h5 class="card-title">{{ single_product.product_name }}</h5>
            <p class="card-text">{{ single_product.product_description }}</p>
            <p class="card-text">Price: ${{ single_product.price }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
